* { margin: 0; padding: 0; box-sizing: border-box; }
html{ height: 100%; padding-bottom: 15px;}
body
{
    background-color: #f5f5f5;
    font: 13px Roboto, Arial;
    height: 100%;
    padding-top: 70px !important;
}
/*
form { padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: solid 1px rgb(182, 120, 0); padding: 10px; width: 90%; margin-right: .5%; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }*/

.navbar-inverse { background-color: #57CDFF}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #53C3F2}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #53C3F2}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #53C3F2}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #57CDFF}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #999999}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

.ml-5
{
    margin-left:5px;
}

.mr-5
{
    margin-right:5px;
}

#pageHome
{
    background-color: #FFFFFF;
    height: 100%;
    box-shadow: 0 0 6px 2.5px rgba(0, 0, 0, 0.06);
    padding-bottom:20px;
    /*margin-bottom: 10px;*/
}

#boxMessage
{
    /*min-height: 320px;
    max-height: 320px;*/
    height: 100%;
    background-color:#F5F5F5;
    overflow:scroll;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 3px #cdbe9f inset;
    /*border-bottom-style:none;*/
}
/*
#boxMessage:after{
    height:2px;
    position:absolute;
    content:"";
    background-color:#F5F5F5;
    bottom:1px;
}*/

#boxInput
{
    border-top-style:none;
    border-radius: 0 0 3px 3px;
    background-color:#F5F5F5;
    box-shadow: 0 0 3px #cdbe9f inset;
    /*margin-top: 5px;*/
    padding: 10px 0;
    position:relative;
}

#colInput:before
{
    background-color: #f5f5f5;
    content: "";
    height: 7px;
    left: 3px;
    position: absolute;
    right: 4px;
    top: -9px;
}

.messageFrame
{
    background-color: #ffffff;
    box-shadow: 0 0 6px 2.5px rgba(0, 0, 0, 0.06);
    min-height: 60px;
    word-wrap:break-word;
    position:relative;
}

/*We'll make a triangle on the left of the messageFrame*/
.messageFrame:before
{
    width: 0;
    height:0;
    border-top:50px solid transparent;
    border-right: 100px solid #ffffff;
    border-bottom:50px solid transparent;
    position :absolute;
    top:10px;
    left:-10px;
    bottom:20px;
}

.triangle
{
    border-bottom: 11px solid transparent;
    border-right: 18px solid white;
    border-top: 14px solid transparent;
    height: 0;
    left: -10px;
    position: absolute;
    top: 5px;
    width: 0;
}

#rowMessage
{
    height: 90%;
    margin-bottom: 5px;
}

.colMessage
{
    float:none; /*to center the column instead the size of lg-11*/
    margin:0 auto; /*the same*/
    height:100%;
}

.rowBoxMessage
{
    height:80%;
}